@import "tailwindcss";
@import "../styles/scratch.css";

:root {
  --background: #F8F8F8;
  --foreground: #171717;
  --primary-green: #007A33;
  --subway-yellow: #FFC72C;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, system-ui;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer utilities {
  .text-subway-green {
    color: #007A33;
  }
  .bg-subway-green {
    background-color: #007A33;
  }
  .text-subway-yellow {
    color: #FFC72C;
  }
  .bg-subway-yellow {
    background-color: #FFC72C;
  }
}
